a {
  font-size: 30px !important;
}

.left-side, .card {
  background-color: rgb(116, 110, 110);
}

.cities {
  width: 205px;
}

.days {
  margin-left: 15px;
  margin-top: 10px;
  background-size: 30px;
  background-color: rgb(92, 116, 250);
}

body {
  background-color: rgb(192, 181, 181);
}

.hidden{
    visibility: hidden;
}

.weatherInfo{
  font-size: 60px;
}